@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.title b{
    margin: 0 15px;
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    opacity: 1;
    max-width: 100px;
    background-color: crimson;
    height: 3px;
}

th,
td {
    border: 1px;
    border-style: dotted;
}

h2, th, td, h4{
    font-family: 'Quicksand', sans-serif;
}

h2{
    font-weight: 700;
}

td{
    font-weight: 500;
}

a{
    color: black;
}